.navbar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.logodoc{
    
    margin-left: 300px;
}
.navlinks{
    margin-top: 20px;
    margin-right: 300px;
}

.navlinks ul li{
    display: inline-block;
    
}
.navlinks ul li a{
        color: #ABABAB;
        font: 15px,sans-serif;
        padding: 0 13px;
        border-radius: 3px;
          
    }
    .navlinks ul li a:hover{
        text-decoration: none;
        color: #00B39B;
    }
    #active{
        color: #00B39B;
    }
    .list {
        display: none;
    }
    .navlinks ul li:hover .list{
        display: block;
        position: absolute;
        margin-top: 15px;
        margin-left: -15px;
    }
    .navlinks ul li:hover .list ul{
        display: block;
        margin: 10px;
    }

    .ImgDoc{
        text-align: center;
        padding-top: 50px;
    }
    .TitleDoc{
        color: #00B39B;
        text-align: center;
        font-size: 34px"Work Sans", Arial, sans-serif;
        margin: 34px 0px;  
    }
    .PDoc{
        display:flex;
        justify-content: space-between;
        margin: 0 280px;
        padding-top: 40px;
        color: #747474;
        font: 16px Roboto,Arial,sans-serif ;
        line-height: 2;
    }
    .wrapper{
        display: inline-block;
        text-align:start;
        padding: 0  0px;
        margin-top: 50px;
        margin-left: 15%;

    }

    .parent{
        width: 312px;
        margin: 20px;
        height: 345px;
        overflow: hidden;
        position:relative;
        display: inline-block;
        cursor:pointer;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    .bg-one{
        height: 100%;
        width: 100%;
        background-size: cover;
        transition: all 1.1s;
        background: #00CCB1;
          
        
    }
    .bg-two{
        height: 100%;
        width: 100%;
        background-size: cover;
        transition: all 1.1s;
        background: #3D83DF;

    }
    .bg-three{
        height: 100%;
        width: 100%;
        background-size: cover;
        transition: all 1.1s;
        background: #182734b8;

    }
    .bg-one img{
        margin-top: 20px;
        margin-left: 120px;
    }
    .bg-one h1{ 
        color: white;
        font-size: 2em;
        font-weight:normal;
        margin-top: 20px;
        margin-right: 50px;
        margin-left: 30px;
    }.bg-one h2{ 
        color: white;
        font-size: 1.5em;
        font-weight:normal;
        margin-top: 40px;
        margin-right: 50px;
        margin-left: 30px;

    }
    .bg-one select{
        margin-top: 30px;
        margin-right: 100px;
        margin-left: 30px;
        color: white;
        background: #00CCB1 ;
        border-style: none;
        border: 0;
        border-radius: 0;
        outline: 0;
        text-transform: none;
        text-decoration: underline;
       cursor: pointer
    }
    .bg-two img{
        margin-top: 20px;
        margin-left: 120px;
    }
    .bg-two h1{ 
        color: white;
        font-size: 2em;
        font-weight:normal;
        margin-top: 20px;
        margin-right: 50px;
        margin-left: 30px;
    }.bg-two h2{ 
        color: white;
        font-size: 1.5em;
        font-weight:normal;
        margin-top: 40px;
        margin-right: 50px;
        margin-left: 30px;
    }
    .bg-two select{
        margin-top: 30px;
        margin-right: 100px;
        margin-left: 30px;
        color: white;
        background: #3D83DF ;
        border-style: none;
        border: 0;
        border-radius: 0;
        outline: 0;
        text-transform: none;
        text-decoration: underline;
       cursor: pointer
    }
    .bg-three img{
        margin-top: 20px;
        margin-left: 120px;
    }
    .bg-three h1{ 
        color: white;
        font-size: 2em;
        font-weight:normal;
        margin-top: 20px;
        margin-right: 50px;
        margin-left: 30px;
    }.bg-three h2{ 
        color: white;
        font-size: 1.5em;
        font-weight:normal;
        margin-top: 30px;
        margin-right: 50px;
        margin-left: 30px;
    }
    .bg-three select{
        margin-top: 10px;
        margin-right: 100px;
        margin-left: 30px;
        color: white;
        background: #556572b8;
        border-style: none;
        border: 0;
        border-radius: 0;
        outline: 0;
        text-transform: none;
        text-decoration: underline;
       cursor: pointer
    }
    .iconList{
        margin-left: 250px;
        font-size: 1.625em;
        color: #00B39B;
    }
    .firstList ul {
        display: inline-flex;
        float: right;
        list-style: none;
        margin-right: 250px;
        margin-top: -70px;
    }
    
    .firstList ul li{        
        width: 50%;
        margin: 15px;
        padding: 15px;
    }
    .secondList ul {
        display: inline-flex;
        float: right;
        list-style: none;
        margin-right: 250px;
        margin-top: -160px;
    }
    .secondList ul li{        
        width: 50%;
        margin: 15px;
        padding: 15px;
    }
    
